*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

::selection {
  background: #61dafb;
}

html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}

.header {
  background: #282c34;
  text-align: center;
  width: 100%;
}
.about {
  text-align: center;
  .component-title {
    color: #20232a;
    font-size: 2.5rem;
    margin: 25px 0;
  }
  input {
    background: #20232a;
    color: #fafafa;
    padding: 5px;
    height: 30px;
    margin: 25px 0;
    //outline: 10px solid #61dafb;
    text-align: center;
  }
}

.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 2rem;
    margin: 20px 0;
  }
  ul > li {
    padding: 5px;
  }
}

.notice {
  display: flex;
  align-items: center;
  flex-direction: column;
  .container {
    box-sizing: border-box;
    width: 50%;
    min-width: 320px;
    list-style-type: none;
    li {
      height: 50px;
      div {
        height: 50px;
        line-height: 50px;
        float: left;
      }
      div:first-child {
        padding: 0 10px;
        width: calc(100% - 200px);
      }
      div:last-child {
        width: 200px;
        text-align: center;
      }
    }
    li:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img {
    width: 300px;
    height: 300px;
    margin: 50px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  .form, .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    input {
      width: 250px;
      text-align: center;
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 10px 0;
      margin-top: 10px;
    }
    input[type=button], input[type=submit] {
      border: 0;
      background-color: lightskyblue;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .info {
    input[type=button] {
      background-color: lightpink;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
