.commonHeader {

  background: #36384c;
  width: 100%;

  .title {
    color: #61dafb;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .logo {
    display: block;
    height: auto;
    width: 250px;
    margin: 0 auto;
    padding: 50px 0;
    transition: 0.5s ease all;
  }

  .menu {
    position: absolute;
    z-index: 3;
    top: 0;
    padding: 13px;
    filter: invert(90%);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease all;
  }

  * > .user {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin: 13px;
    filter: invert(90%);
    cursor: pointer;
  }

  * > .user.loggedIn {
    width: 32px;
    height: 32px;
    margin: 8px;
    filter: none;
  }

  ul.nav {
    background: #20232a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }

  .link {
    display: block;
    color: #fafafa;
    font-size: 15px;
    padding: 15px 25px;
    text-decoration: none;
    &:hover {
      background: darken(#20232a, 5%);
      color: darken(#fafafa, 10%);
    }
  }
}

.commonHeader.thin {
  .logo {
    padding: 5px 0;
    width: 123px;
  }

  .menu {
    opacity: 1;
  }

  ul.nav {
    position: absolute;
    width: 200px;
    left: -200px;
    height: calc(100% - 50px);
    background: #20232a;
    display: block;
    list-style: none;
    transition: 0.5s ease all;
    z-index: 2;
  }

  ul.nav.opened {
    left: 0;
  }

}